body {
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center;
}

table {
    margin: 10px auto;
}


table tr td {
    border: 1px solid black;
    width: 100px;
    text-align: center;
}

#input_name, #input_available {
    border: 2px solid black;
    color: blueviolet
}